{% extends 'adminapp/dashboard.html' %}
{% block content %}

<div class="container py-5">
  <div class="p-4 shadow-lg rounded bg-white">
    <h2 class="fw-bold mb-4 text-center" style="color: #00477d;">All User Reports</h2>

    {% if reports %}
    <div class="table-responsive">
      <table class="table table-hover align-middle border">
        <thead style="background-color:#00477d; color:white;"></thead>
          <tr>
            <th>#</th>
            <!-- <th>User</th> -->
            <th>Category</th>
            <th>Description</th>
            <th>Images</th>
            <th>Created At</th>
          </tr>
        </thead>

        <tbody>
          {% for report in reports %}
          <tr>
            <td>{{ report.id }}</td>
            <!-- <td>{{ report.user.username }}</td> -->
            <td>{{ report.category }}</td>
            <td>{{ report.description }}</td>

            <td>
              {% for img in report.report_images.all %}
              <img src="{{ img.image.url }}" width="70" height="70" class="rounded mb-1"
                style="object-fit: cover; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal"
                onclick="showImage('{{ img.image.url }}')">
              {% empty %}
              <span class="text-muted">No Images</span>
              {% endfor %}
            </td>



            <td>{{ report.created_at|date:"Y-m-d H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% else %}
    <p class="text-center text-muted">No reports found.</p>
    {% endif %}

  </div>
</div>
<!-- Image Preview Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Report Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <img id="modalImage" src="" class="img-fluid rounded" alt="Report Image">
      </div>

    </div>
  </div>
</div>

<script>
  function showImage(imageUrl) {
    document.getElementById("modalImage").src = imageUrl;
  }
</script>

{% endblock %}